<!DOCTYPE html>
@using Package.Models

@{
  Parcel bob = (Parcel)ViewData["myParcel"];
}
<html>
    <head>
    <title>Package</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Your package dimensions: @Model._Length, @Model._Width, @Model._Height</p>
    <p>Shipping prices:</p>
    <p>   Under 30 cubic inches: $5</p>
    <p>   Between 30 and 2500 cubic inches: $1 per cubic inch</p>
    <p>   2500 cubic inches and Above: $5</p>
    <p> Package price: $@bob._Price </p>
    <a href="/">click here to return</a>
  </body>
</html>