  
<!DOCTYPE html>
<html>
  <head>
    <title>Package</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Package</h1>
    <p>NO 30 CUBIC INCH PACKAGES</p>
    <p>Enter Package dimensions</p>
    <form class="jumbotron" action="/cart" method="post">
   
     <label for="length">Enter Package Length:</label>
     <input id="length" name="length" type="number">

     <label for="width">Enter Package Width:</label>
     <input id="width" name="width" type="number">

     <label for="height">Enter a package Height:</label>
     <input id="height" name="height" type="number">
     <button type="submit">Add package to cart</button>
    
    </form>
  </body>
</html>
